# Artefatos Pesados / Binários da TOTVS
*.zip
*.rar
*.tar.gz

# Logs e Arquivos de Runtime locais
*.log
.ext/

# Arquivos do Sistema Operacional Host
.DS_Store
Thumbs.db

# Configurações de IDEs
.idea/
.vscode/